<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
        <!-- css -->
        <link href="../ProgramStudi.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <!-- bagian ini bagian header beserta tombol kawan-kawanya -->
    <div id="header">
      
      <a href="../../../WebKampus_versi2.html"><img src="../../logoucm3.png" alt="logo UCM Campus" class="logo-header"></a>
      <!-- <h1 class="judul-1-1">Politeknik Unggulan Cipta Mandiri</h1> -->

      <ul class="menu-utama">
        <li><a href="../../../WebKampus_versi2.html" class="text-warna">Home</a></li>
        <li><a href="../../../Akademik.html" class="text-warna">Program Studi</a></li>
        <li><a href="../../../TentangUCM.html" class="text-warna">Tentang UCM</a></li>
        <li><a href="../../../KontakUCM.html" class="text-warna">Kontak kami</a></li>
        <li><a href="../../../lecture.html" class="text-warna">Lecture</a></li>
      </ul>
     
    </div>

    <div class="Bagian-riwayat-bros">
        <div class="bagian-home">
         <a href="../../../Akademik.html" class="Program-studi">Program Studi</a>
        </div>

        <div class="garis-penanda">
         <a>>></a>
        </div>

        <div class="bagian-history">
         <a>Business Administration</a>
        </div>
    </div>
    <div class="sejarah">
      <div class="judul-S.C">
        <p class="judul">Business Administration</p>
      </div>

      <div class="isi-S.C">
        <p class="isi"> Learn hardware systems assembly, software design and computer networks. Students are able to design a company's programs and solve problems regarding software and hardware from computers.</p>
      </div>
    </div>








<footer class="footer-biru">
    <div id="footer-container">
        <div class="logo-footer">
       <a href="../../../WebKampus_versi2.html"><img src="../../logoucm3.png" alt="logo-bagian-footer" class="logoucmfooter"></a>
       </div>

       <div class="footer-links"> 
        <a href="https://api.whatsapp.com/send/?phone=6281376159347&text=Hello+UCM+Campus%21+nama+saya+...&type=phone_number&app_absent=0"><p class="tulisan-footer">WhatsApp</p></a>
        <a href="https://www.instagram.com/ucmcampus?igsh=YjU0eDM2d3Fpanlk"><p class="tulisan-footer">Instagram</p></a>
       </div>

       <div class="footer-contact">
        <p>
          Jl. Bambu I No. 102, Durian<br>
          Kota Medan, Sumatera Utara - Indonesia
        </p>
       </div>

    </div>
       <hr class="footer-line">
       <p class="footer-copy">© Ini hanya uji coba untuk kebutuhan belajar.</p>
    </footer>